<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dungeon Escape</title>
  </head>
  <body>
    <h1>Dungeon Escape</h1>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    <p>{{ message }}</p>

    <form class="commandPrompt" action="/" method="post">
      <label>
        Enter Command:
        <input name="command" type="text"/>
      </label>
      <button type="submit">Submit</button>
    </form>

    <form class="resetButton" action="/reset" method="get">
      <button type="submit">Reset</button>
    </form>
  </body>
</html>
